.pageBox {
  border-top: 2px solid #000;
  background-color: #eee;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.pageSection {
  display: flex;
  flex-direction: column;
}
.buttonsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.buttonDefault,
.buttonSpecial {
  cursor: pointer;
}
.buttonSpecial,
.inputSpecial {
  border: none;
  outline: none;
  transition: all 0.1s ease-in;
  margin: 4px;
  padding: 2px 4px;
  border: 1px solid var(--tplink-blue1);
  box-shadow: 0px 0px 0px 1px var(--tplink-grey1);
}
.buttonSpecial:hover,
.inputSpecial:hover {
  box-shadow: inset 0px 0px 30px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 0px 1px var(--tplink-blue2),
    0px 0px 4px 0px var(--tplink-blue2);
}
.buttonSpecial:focus,
.inputSpecial:focus {
  box-shadow: 0px 0px 0px 1px var(--tplink-blue1),
    0px 0px 4px 0px var(--tplink-blue1);
}
.inputDefault,
.inputSpecial {
  height: 18px;
  width: fit-content;
}
.elementsLine {
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
  padding: 6px 0 6px 0;
}
.elementsLineNoButton {
  grid-template-columns: 1fr !important;
}
.subElementLine {
  display: grid;
  grid-template-columns: 120px 1fr;
}
.alignVerticaly {
  display: flex;
  align-items: center;
}
