.pageHeader {
  height: 50px;
  background: var(--tplink-blue1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.pageHeader img {
  height: 100%;
}
.langBox {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.langBox i {
  color: #fff;
  font-size: 25px;
}
.langSelect {
  background-color: #fff;
  color: var(--tplink-blue1);
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: 600;
}
.langSelect option {
  color: var(--tplink-blue1);
  font-weight: 600;
}
