.telnetBox {
  padding: 12px;
  display: grid;
  grid-template-columns: auto auto 80px;
}
.subCategoryBox {
  padding: 12px;
}
.boxSpaceBetween {
  padding: 6px 0 6px 0;
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
}
.boxSpaceBetween span:nth-child(1) {
}
.boxEqualSpaceBetween {
  display: grid;
  grid-template-columns: 120px 1fr;
}
.accessControl .boxEqualSpaceBetween {
  grid-template-columns: 120px 1fr;
}
.boxRow {
  display: flex;
  align-items: center;
}
.boxColumn {
  display: flex;
  flex-direction: column;
}
.borderGreyBox {
  border-top: 2px solid var(--tplink-grey1);
  border-bottom: 2px solid var(--tplink-grey1);
  display: flex;
  justify-content: space-between;
}

.cipherSuite .moveRight {
  margin-left: 135px;
}
