.configRestoreBox {
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.configRestoreBox span:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.configRestoreBox span:nth-child(1) .spanText {
  line-height: 35px;
  margin-bottom: 5px;
}

.configRestoreBox .buttonRowSpan {
  display: grid;
  place-items: center;
  margin-top: 10px;
}
.configRestoreBox .buttonRowSpan button {
  margin: 4px;
}

.rebootBox {
  gap: 15px;
  padding-left: 25px;
}
.resetBox span {
  display: unset !important;
}
.resetBox span button {
  margin-left: 50px;
}
.firmwareBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 12px;
}
.firmwareBox .moveRight {
  margin-left: 100px;
}

