.portTable {
  width: 600px !important;
}
.portTable .rowUser {
  grid-template-columns: 1fr 1fr 170px 2fr 2fr 2fr 1fr;
}
.portSelect span {
  grid-column-start: 7;
  padding: 2px;
  gap: 4px;
  color: var(--tplink-blue1);
}
.portSelect span input {
  width: 40px;
}
.controlRow {
  padding: 4px 0;
}

.mirrorTable {
  width: 600px !important;
}
.mirrorTable .rowUser {
  grid-template-columns: 1fr 1fr 1fr 4fr 1fr;
}
.devideSquare {
  display: flex;
  flex-direction: column;
}
.devider {
  width: 100%;
  background-color: var(--tplink-grey1);
  height: 2px;
}

.portSecurityTable {
  width: 600px !important;
}
.portSecurityTable .rowUser {
  grid-template-columns: 1fr 1fr 170px 2fr 2fr 2fr;
}
.portIsolationTable {
  width: 600px !important;
}
.portIsolationTable .rowUser {
  grid-template-columns: 1fr 3fr;
}

.checkboxContainer {
  display: flex;
  gap: 38px;
}
.portList {
  margin: 10px 0;
}

.isolationTable {
  width: 700px !important;
}
.isolationTable .rowUser {
  grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
